

.container{
    box-sizing: border-box;
    min-height:100vh;
    overflow:hidden;
    position:relative;
    width:100%;
    padding:0;
    margin:0;
}

.sidebarAdmin{
    position:relative;
    margin-top: 0;
    left:0;
    width:320px;
    min-height:100vh;
    background-color:#042331;
    border-left: 10px solid #042331;
    transition:0.5s;
    overflow:hidden;

}

.sidebarAdmin ul{
    position:relative;
    top:0;
    left:0;
    width:100%;


}
.sidebarAdmin ul li{
    position:relative;
    width:100%;
    left:0;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.sidebarAdmin ul li:hover{
    background-color:#0e94d4;
}

.sidebarAdmin ul li a{
    position:relative;
    display:block;
    width:100%;
    display:flex;
    text-decoration: none;
    padding-bottom: 5px;
    left:5px;

}

.sidebarAdmin ul li a .icon{
    position:relative;
    display:block;

    min-width:50px;
    height:50px;
    line-height: 60px;
    text-align:center;
    font-size: 35px;
    left:0;
    color:white;
}

.sidebarAdmin ul li a .icon ion-icon{
    font-size: 0.75em;
}

.sidebarAdmin ul li a .text{
    position:relative;
    display:block;
    color:white;
   
    font-size: 18px;
    letter-spacing: 2px;
    text-align: start;
    top:20px;
}
/*
.sidebar-admin ul li:hover a::before{
    content:'';
    position:absolute;
    right:0;
    
    width:50px;
    height:50px;
    background-color: tomato;
    border-radius: 50%;S
}
*/


.adminMain{
    position:absolute;
    width:calc(100%-300px);
    left:300px;
    min-height:100vh;
    background-color: white;
    transition: 0.5s;
}

.adminTopbar{
    width:100%;
    height:60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 10px;
    
}

.adminToggle{
    position:relative;
    top:0;
    left:60px;
    width:60px;
    height:60px;
   /* background:darkgrey;*/
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:60px;
    cursor:pointer;

}


.adminToggleIcon{
    position: relative;
    color:black;
    left:50px;
    height: 60px;
    width: 60px;
    font-weight: bold;
    font-size:200px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    

}

.adminToggleIcon ion-icon{
    font-size: 0.55em;
}
/*
.admin-topbar-user{
    position:relative;
    left:300px;
    min-width: 40px;
    height:40px;
    overflow:hidden;
    cursor:pointer;    
}

.admin-topbar-user-icon{
    position: absolute;
    top:0;
    left:calc(100%-900px);
    width:100%;
    height:100%;
    float:right;
    width:calc(100%-90%);
    font-size: 30px;
}
*/
